---
import Layout from '../layouts/Layout.astro';
import { CldUploadWidget } from 'astro-cloudinary';
import '@fontsource/creepster'
---
<Layout title="Detector de espectros y magia">
	<div class="mt-32 flex flex-col items-center justify-center text-center">
		<h1 class="text-creepster text-3xl text-[#43B929]">
		  <p >Detector de</p>
		  <p class="hidden lg:block text-[120px] pt-10">Espectros y magia</p>
		  <p class="block lg:hidden text-[120px] pt-10">Espectros</p>
		  <p class="block lg:hidden text-[120px] pt-20">y magia</p>
		</h1>
	  </div>
	<main>
		<CldUploadWidget 
		id='upload-widget'
		uploadPreset='upload-unsigned-images'
		options={{
			sources: ["camera", "local"],
			multiple: false,
			maxFiles: 1,
			language: "es",
			text: {
				es: {
					or: "O",
					menu: {
						files: "Desde tu dispositivo",
						camera: "Desde la camara"
					},
					local: {
						browse: "Seleccionar",
						dd_title_single: "Arrastra la imagen aqui"
					},
					camera: {
                capture: "Tomar foto",
                cancel: "Cancelar",
                take_pic: "Toma una foto para subirla",
                explanation: "Asegurate que tu camara esta conectada y que diste permisos al navegador para accederla. Cuando estes listo, haz click en Tomar foto.",
                camera_error: "Error al acceder a la camara",
                retry: "Volver a intentar Camara",
                file_name: "Camera_{{time}}"
            },
			actions:{
				upload: "Subir"
			}
				}
			}
		}}>
		<div class="mt-32 flex flex-col items-center justify-center text-center">
			<button class="bg-spurple text-swhite text-2xl px-6 py-2 rounded-xl">Analizar objeto</button>
			<p class="text-swhite mt-8">Atento... hay más de lo que tus ojos pueden ver.</p>
		</div>	
		</CldUploadWidget>
	</main>
</Layout>

<style>
	.text-creepster {
		font-family: "Creepster", cursive;
	}
</style>

<script>
	const widget = document.getElementById("upload-widget")

	if(widget){
		widget.addEventListener("clduploadwidget:success", ((e: CustomEvent<{detail: object}>) => {
			console.log("clduploadwidget:success", e.detail)
			const imageId = e.detail.info.public_id;
    		// Redirect to photo page with the ID as a query parameter
    		window.location.href = `/photo?id=${imageId}`;
		}) as EventListener)
	}
</script>